# ==========================================
# Local Development Environment Variables
# ==========================================

# # Database Credentials (Local Docker)
# DB_USER=admin
# DB_PASSWORD=local_dev_password
# DB_NAME=stock_predictor_db

# # Prisma DB String
# DATABASE_URL="postgresql://admin:local_dev_password@postgres-db:5432/stock_predictor_db?schema=public"

# # Python API 
# PYTHON_API_URL="http://0.0.0.0:5000"

# # Node Port
# PORT=3000

# Database Credentials for Docker
DB_USER=admin
DB_PASSWORD=local_dev_password
DB_NAME=stock_predictor_db

# The URL that tells Prisma to connect to the local Docker database
DATABASE_URL="postgresql://admin:local_dev_password@postgres-db:5432/stock_predictor_db?schema=public"

# Python API URL for Docker
PYTHON_API_URL="http://ml-service:5000"

PORT=3000